/******************************************************************/
/* default font and colors                                        */
/* Colors were chosen as Blue and Silver seemed like possible     */
/* color choices                                                  */
/******************************************************************/
html{
  background-color: #C0C0C0;

}

main{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #5573B2;
  color:#C0C0C0;
}
/******************************************************************/
/* General heading and link styling                               */
/******************************************************************/
a, span{
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #C0C0C0;
  padding-left: 16px;
}
h1{
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1;
}
h2{
  font-size:2rem;
  font-weight: bold;
  padding: 32px 0;
}
h3{
  font-size: 1.3rem;
  line-height: 1.2;
}
h5, footer span{
  font-size: 0.8rem;
  color:#374A72;
}
p{
  font-family: "Palanquin", sans-serif;
  font-size: .9rem;
  line-height: 1.25;
  padding: 8px 8px 8px 0;
}

/******************************************************************/
/* Title bar (header) contains the school logo and stylized name  */
/* as well as links to other important sections of the page       */
/******************************************************************/
header{
  background-color: #45434C;
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*school logo icon*/
header img{
  height:48px;
  padding: 0 2% 0 24px;
}

/* logo icon plus stylized name */
.logo{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* following two items create the stylized school name in the logo */
.title-bar{
  font-family: "Biryani", sans-serif;
  font-weight: 800;
  color:#5573B2;
}

.title-bar span{
  padding:0;
}

.thin{
  font-weight: 200;
  color:#C0C0C0;
}

/******************************************************************/
/* Navigation items:                                              */
/*   pc-nav (text-based) is active for larger screens             */
/*   mobile-nav (icno-based) is active for smaller screens        */
/******************************************************************/
nav{
  padding-right:3%;
  align-self: center;
  display:flex;
}
.pc-nav{
  display: inline-block;
}
.mobile-nav, .mobile-crest{
  display:none;
}

/******************************************************************/
/* Container and content for main splash screen                   */
/******************************************************************/
.landing-box{
  background-color: #5573B2;
}

/* generic container for text to the right of other content, also used */
/* by other content boxes below*/
.side-text{
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.landing-box img{
  display:inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 32px 40px 32px 24px;
  flex-shrink: 0;
}

.landing-box h3{
    margin: 24px 0;
}

.landing-box .side-text{
    width:30%;
    box-sizing: border-box;
}

.landing-box p, .main-pic-box p{
    margin-bottom: 24px;
}

/******************************************************************/
/* The following 2 items control the "start here" button, text    */
/* and background color swap when hovering to highlight the       */
/* button more                                                    */
/******************************************************************/
.start{
  width: 100%;
  background-color: #45434C;
  color:#B27A3C;
  font-size: 1.2rem;
  padding: 8px 0;
  text-align: center;
  transition:color 400ms, background-color 400ms;
}

.start:hover{
  background-color: #B27A3C;
  color:#45434C;
}


/******************************************************************/
/* information and thesis sections share a structure and some     */
/* styling details. Shared information and shared contianer       */
/* details for those two sections are below                       */
/******************************************************************/
/* shared styling */
.information, .thesis{
  background-color: #C0C0C0;
  color:#374A72;
  width:100%;
}

.information .content-box:last-child, .thesis .content-box:first-child{
  background-color: #374A72;
  color:#C0C0C0;
}

/* shared container information follows. First is the large picture/video */
.multi-container{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
}

.main-pic-box{
  width:60%;
  padding: 32px 24px;
}

.main-pic-box img, video{
  width:100%;
  margin-bottom: 32px;
}

.main-pic-box h2{
  padding: 0 0 24px 0;
}

#mobile-pic{
  display:none;
}
/* Shared container information for the smaller vertically stacked
   information blocks */
.stacked-content-box{
  display:flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 16px;
  width:35%;
}

.content-box img{
  width:35%;
  margin:3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text{
  width:56%;
}

.content-box a{
  color:#B27A3C;
  padding:0;
}

/* Unique styling for the thesis main picture (slightly smaller) */
/* NOTE: Thesis h2 styling appears in courses section below       */
.thesis .main-pic-box {
  padding: 16px 16px 24px 24px;
}


/******************************************************************/
/* The course offering container and individual course            */
/* description boxes are styled below.                            */
/******************************************************************/
.courses{
  background-color: ##5573B2;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.course-container{
  width:90%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.course-box{
  width:30%;
  height:296px;
  margin: 0 8px 16px 8px;
  background-color: #45434C;
}

.courses h2, .thesis h2{
  text-align: center;
}

.course-box img{
  width:100%;
}

.course-text{
  padding:16px 0 0 16px;
}

/******************************************************************/
/* Footer styling                                                 */
/******************************************************************/
footer{
  background-color: #C0C0C0;
  border-top: 1px solid darkgray;
  margin: auto 1%;
  display: flex;
  justify-content: space-between;
}

footer h5{
  font-family: "Lato", sans-serif;
  display:inline-block;
  padding: 16px 24px;
  margin-bottom: 24px;
}

footer nav{
  align-self: auto;
  padding-top: 16px;
}

/******************************************************************/
/* Terms and Privacy Notices Animations.                          */
/******************************************************************/
.legal-container{
  position: fixed;
  z-index: 10;
  bottom: -100%;
  right: 0;
  width: 30%;
  padding: 1rem;
  background-color: #374A72;
  color:#C0C0C0;
  opacity: 0;
  font-size: 1.5rem;
  transition:bottom 1s ease-out, opacity 1s ease-out;
}
.legal:hover .legal-container{
  bottom: 0;
  opacity: 1;
}

/******************************************************************/
/* tablet device settings. NOTE: not called out in the spec, but  */
/* between full screen and mobile size, several very poor visual  */
/* artifacts show up - wrapping links in the menu line, and       */
/* crowding of other content boxes. This middle sizing elminates  */
/* the ugly artifacts with minimal change to full size operation. */
/******************************************************************/
@media only screen and (max-width:825px){

  .landing-box img, .main-pic-box{
    width:40%;
  }
  .landing-box .side-text, .stacked-content-box{
    width: 45%;
  }
  .course-box{
    width:45%;
  }

}

/******************************************************************/
/* mobile device settings                                         */
/******************************************************************/
@media only screen and (max-width:625px) {

/* items to turn off from the PC version of the page */
footer nav, .pc-nav, .logo, .landing-box img, .information .main-pic-box,
.thesis .stacked-content-box, .thesis p, .thesis h3, .course-box img,
.course-box p, #pc-pic{
  display:none;
}
/******************************************************************/
/* changes to the header (menu bar becomes icon based)            */
/******************************************************************/
header{
  background-color: #C0C0C0;
}

.mobile-nav{
  display:flex;
  justify-content: space-around;
  width:100%;
}


/******************************************************************/
/* changes to the main splash screen/landing area                 */
/* NOTE: The first three items here create a new content block    */
/* not called out in the spec. However, the spec simply placed a  */
/* large empty area that left a good part of the landing screen   */
/* empty.  I did not find this appealing and added something      */
/* that seemed appropriate to the site and more visually          */
/* interesting.                                                   */
/******************************************************************/
.mobile-crest{
  display:flex;
  justify-content: center;
  background-color: #374A72;
  width:100%;
  height:180px;
  align-items: center;
}

.mobile-crest img{
  height:160px;
  padding:0 24px;
}

.mobile-crest h3{
  font-family: "Graduate";
  writing-mode:vertical-rl;
  text-orientation: upright;
}

/* start button wider and centered */
.start{
  width:80%;
  align-self: center;
}

/* text with start button remains, but pic is removed */
.landing-box .side-text{
  width:100%;
  padding: 32px 16px;
  margin:auto;
}

/******************************************************************/
/* changes to the information section. Large picture is removed,  */
/* information boxes use different sized pictures which are now   */
/* full width. Associated text and links are under the picture.   */
/******************************************************************/
.stacked-content-box, .content-box .side-text{
  width:100%;
}

.content-box{
  display:flex;
  flex-flow: column;
}

#mobile-pic{
  display:block;
  box-sizing: border-box;
  padding: 16px 16px 24px 16px;
}
.content-box img{
  width:100%;
  margin:auto;
}

.content-box .side-text{
  box-sizing: border-box;
  padding-left: 32px;
}

.information .content-box:last-child{
  background-color: #C0C0C0;
  color:#374A72;
  margin-bottom: 32px;
}


/******************************************************************/
/* changes to courses section. Pictures and text removed and      */
/* replace by full width links to take user to appropriate        */
/* course detail page.                                            */
/******************************************************************/

.course-container{
  flex-flow: column;
}

.course-box{
  width:100%;
  height:auto;
  padding:0;
  margin:0 0 8px 0;
}

.course-text{
  padding:16px;
}

/******************************************************************/
/* changes to thesis section. Detail boxes are removed. Only      */
/* video remains, now full width                                  */
/******************************************************************/
.thesis .main-pic-box{
  width:100%;
  padding: 0 0 32px 0;
}

video{
  margin:auto;
}

/******************************************************************/
/* footer changes                                                 */
/******************************************************************/
h5{
  margin:24px 0 0 0;
}

}
